.btn-primary-dark{
    background-color: $btn-dark;
    color:white;
    @include btn-default-type
}   
.btn-primary-dark-disable{
    background-color: $font-dark;
    color:white;
    @include btn-default-type
}
.btn-primary-light{
    background-color: $btn-light;
    color: $font-dark;
    @include btn-default-type
}
.btn-primary-light-disable{
    background-color: $btn-light-disable;
    color: $font-dark;
    @include btn-default-type
}
.btn-primary-light-plain{
    color: $btn-dark;
    @include btn-default-type
}
.btn-primary-light-disable-plain{
    color: $btn-dark;
    @include btn-default-type
}         